body {
	
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  background: url("images/background1.jpg"); /*background image*/
  /*src: hhttps://www.pexels.com/photo/a-blue-color-gradient-7135020/*/
}

.footer {
	
  font-size:16px;
  color: #555;

}

.heading1 {
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.ol {
	text-align: left;
}

#backToTop {
	display: none;
	position: fixed;
	bottom: 20px;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	background-color: #007BFF;
	color:white;
	cursor: pointer;
}

.footer {
	margin-bottom: 0px;
}

#userSubmit {
	padding: 4px 10px;
	border: none;
	font-weight: bold;
	position:center;

}